Django==1.9.7
django-crispy-forms==1.6.0
django-crypto-fields==0.1.6
django-extensions==1.6.7
-e git+https://github.com/erikvw/django-revision@0512c1f11dca3543965ed6d0d9995873e359b1e7#egg=django_revision
django-simple-history==1.8.1
-e git+https://github.com/botswana-harvard/edc-appointment.git@15024b9487d487cd3b3d1732d6b61e2ad42d3a6f#egg=edc_appointment
-e git+https://github.com/botswana-harvard/edc-base@e6e76480075bf48664881a340797fa9bf3ae4517#egg=edc_base
edc-configuration==0.2.dev1
-e git+https://github.com/botswana-harvard/edc-constants@6a06b691a15894759e9a279892c0ba4961e9bed0#egg=edc_constants
-e git+https://github.com/botswana-harvard/edc-content-type-map.git@1b668a3b4ceddab73cc144641b0a15627aa8c16a#egg=edc_content_type_map
-e git+https://github.com/botswana-harvard/edc-dashboard.git@1e52d5a6a4b6184b6a99248365a8737562ed4f07#egg=edc_dashboard
-e git+https://github.com/botswana-harvard/edc-data-manager.git@a0633a457c205c4361f002d27649a4d6764148bb#egg=edc_data_manager
-e git+https://github.com/botswana-harvard/edc-device.git@674e1986e3d4c8eeb5b02c03ea4c1b05a1934e93#egg=edc_device
-e git+https://github.com/botswana-harvard/edc-export.git@f63942e68db69814f17111b1b4d4a3a17c2d2fd9#egg=edc_export
-e git+https://github.com/botswana-harvard/edc-identifier.git@d5e030cd844f12a660f19e370e7d4044e4fe1b73#egg=edc_identifier
-e git+https://github.com/botswana-harvard/edc-lab.git@c05dfe2092156e84266acf4114ea4e6e1e9f27ba#egg=edc_lab
-e git+https://github.com/botswana-harvard/edc-locator.git@2275ddff0c119a4666902d2fac0dba6159993bc0#egg=edc_locator
-e git+https://github.com/botswana-harvard/edc-meta-data.git@d50d54077f4b226100112db7aee018341bc8bffe#egg=edc_meta_data
-e git+https://github.com/botswana-harvard/edc-offstudy.git@f1b2d2c1a5b64e16e2d03cf5a12ade564b891e5b#egg=edc_offstudy
-e git+https://github.com/botswana-harvard/edc-registration.git@7a289d2c06d35e7af3e5ac70ebb8d8ec8f0c9bb0#egg=edc_registration
-e git+https://github.com/botswana-harvard/edc-rule-groups.git@1ed5aebf2d308ec0af504b5c561431e592f39673#egg=edc_rule_groups
-e git+https://github.com/botswana-harvard/edc-sync.git@cd9b246dc8db6de3ea73d13fe998fda61943daf9#egg=edc_sync
-e git+https://github.com/botswana-harvard/edc-visit-schedule.git@3d78fdf6319e1488372dfa5324ce8a841b84e7a8#egg=edc_visit_schedule
-e git+https://github.com/botswana-harvard/edc-visit-tracking.git@6c9f910613d91302c9c08fc0b1d04c9e7cc33a40#egg=edc_visit_tracking
gitdb==0.6.4
GitPython==2.0.5
-e git+https://github.com/botswana-harvard/lis@161c9c1f251d4282955a2a8e6d916775bd63be6f#egg=lis
numpy==1.11.0
pycrypto==2.6.1
python-dateutil==2.5.3
pytz==2016.4
six==1.10.0
smmap==0.9.0
Unipath==1.1
