git+https://github.com/botswana-harvard/edc-base.git
git+https://github.com/botswana-harvard/edc-sync.git
git+https://github.com/botswana-harvard/edc-sync-files.git
git+https://github.com/botswana-harvard/django-crypto-fields.git
git+https://github.com/botswana-harvard/django-revision.git
git+https://github.com/botswana-harvard/edc-dashboard.git
git+https://github.com/botswana-harvard/edc-consent.git
git+https://github.com/botswana-harvard/edc-registration.git
git+https://github.com/botswana-harvard/edc-reference.git
git+https://github.com/botswana-harvard/edc-visit-schedule.git
git+https://github.com/botswana-harvard/bcpp-clinic-subject.git
git+https://github.com/botswana-harvard/edc-appointment.git
git+https://github.com/botswana-harvard/edc-constants.git
git+https://github.com/botswana-harvard/edc-device.git
git+https://github.com/botswana-harvard/edc-identifier.git
git+https://github.com/botswana-harvard/edc-lab.git
git+https://github.com/botswana-harvard/edc-lab-dashboard.git
git+https://github.com/botswana-harvard/edc-label.git
git+https://github.com/botswana-harvard/edc-map.git
git+https://github.com/botswana-harvard/edc-metadata.git
git+https://github.com/botswana-harvard/edc-visit-tracking.git
git+https://github.com/botswana-harvard/edc-protocol.git
git+https://github.com/botswana-harvard/edc-timepoint.git
git+https://github.com/botswana-harvard/bcpp-clinic-dashboard.git
git+https://github.com/botswana-harvard/bcpp-clinic-validations.git
git+https://github.com/botswana-harvard/bcpp-clinic-labs.git
git+https://github.com/botswana-harvard/bcpp-clinic-metadata-rules.git
git+https://github.com/botswana-harvard/bcpp-clinic-reference.git
git+https://github.com/botswana-harvard/bcpp-clinic-subject.git
git+https://github.com/botswana-harvard/bcpp-clinic-visit-schedule.git
git+https://github.com/botswana-harvard/edc-search.git
git+https://github.com/botswana-harvard/edc-locator.git
git+https://github.com/botswana-harvard/bcpp-community.git
git+https://github.com/botswana-harvard/edc-offstudy.git
git+https://github.com/botswana-harvard/edc-model-wrapper.git
git+https://github.com/botswana-harvard/edc-rest.git
git+https://github.com/botswana-harvard/edc-metadata-rules.git
