{% load crypto_tags %}
{% load url from future %}
{% load admin_urls %}

<div class="results">
      <table cellspacing="0" id="result_list">
        <thead><tr>
        <th>Refusal</th>
        <th>Refusal Date</th>
        <th>Site</th>        
        <th>Reason</th>
        <th>Gender</th>
        <th>User Created</th>
        <th>Date Created</th>
        <th>Host</th>       
        
        </thead>
        <tbody>
      {% for clinic_refusal in search_result.object_list %}
            <tr class="{% cycle 'row2' 'row1' %}">
            {% if clinic_refusal%}
                <td><A href="{% url clinic_refusal_meta|admin_urlname:'change' clinic_refusal.pk %}?next=section_url&section_name=refusal">edit refusal</A></td>
            {%else%}
                <td><A href="{% url clinic_refusal_meta|admin_urlname:'add' %}?next=section_url&section_name=refusal">add refusal</A></td>
            {%endif%}
            <td>{{clinic_refusal.refusal_date}}</td>
            <td>{{clinic_refusal.site}}</td>
            <td>{{clinic_refusal.reason}}</td>
            <td>{{clinic_refusal.gender}}</td>
            <td>{{clinic_refusal.user_created}}</td>
            <td>{{clinic_refusal.created|date:"d M Y H:i"}}</td>
            <td>{{clinic_refusal.hostname_created}}</td>
            </tr>
      {% endfor %}
      </tbody>
      </table>
      </div>
