{% load crypto_tags %}
{% load url from future %}
{% load admin_urls %}

<div class="results">
      <table cellspacing="0" id="result_list">
        <thead><tr>
        <th>Dashboard</th>
        <th>Eligibility</th>
        <th>Refusal</th>
        <th>Loss</th>
        <th>First Name</th>
        <th>Last Name</th>        
        <th>Initials</th>
        <th>Gender</th>
        <th>Age</th>        
        <th>Consent Date</th>
        <th>User Created</th>  
        <th>Date Created</th>
        <th>Host</th>       
        
        </thead>
        <tbody>
      {% for clinic_eligibility in search_result.object_list %}
                <tr class="{% cycle 'row2' 'row1' %}">
                
                {% if clinic_eligibility.clinic_consent %}
                    <td><A href="{% url 'clinic_dashboard_url' dashboard_type='clinic' dashboard_model='clinic_eligibility' dashboard_id=clinic_eligibility.pk show='appointments' %}"><div nowrap>{{ clinic_eligibility.clinic_consent.subject_identifier }}</div></A></td>
                {% elif clinic_eligibility.is_eligible %}
                    <td><A href="{% url 'admin:bcpp_clinic_clinicconsent_add' %}?household_member={{clinic_eligibility.household_member.pk}}&next=section_url&section_name=clinic">add consent</A></td>            
                {% else %}
                    <td>{{ clinic_eligibility.household_member.member_status }}</td>
                {% endif %}
                
                <td><A href="{% url 'admin:bcpp_clinic_cliniceligibility_change' clinic_eligibility.pk %}?household_member={{clinic_eligibility.household_member.pk }}&next=section_url&section_name=clinic">edit eligibility</A></td>
                {% if clinic_eligibility.clinic_refusal %}
                    <td><A href="{% url 'admin:bcpp_clinic_clinicrefusal_change' clinic_eligibility.clinic_refusal.pk %}?household_member={{clinic_eligibility.household_member.pk}}&next=section_url&section_name=clinic">edit refusal</A></td>
                {%else%}
                    {% if clinic_eligibility.is_eligible and not clinic_eligibility.is_consented %}
                        <td><A href="{% url 'admin:bcpp_clinic_clinicrefusal_add' %}?household_member={{clinic_eligibility.household_member.pk}}&next=section_url&section_name=clinic">add refusal</A></td>
                    {% else %}
                        <td>-----</td>
                    {%endif%}        
                {%endif%}
                <td>{{ clinic_eligibility.clinic_enrollment_loss.reason|default:"-----" }}</td>
                <td>{{clinic_eligibility.first_name|encrypted}}</td>
                <td>-----</td>            
                <td>{{clinic_eligibility.initials}}</td>
                <td>{{clinic_eligibility.gender}}</td>
                <td>{{clinic_eligibility.age_in_years}}</td>
                <td>{{clinic_eligibility.consent_datetime|default:"-----"}}</td>
                <td>{{clinic_eligibility.user_created}}</td>
                <td>{{clinic_eligibility.created|date:"d M Y H:i"}}</td>
                <td>{{clinic_eligibility.hostname_created}}</td>

      {% endfor %}
      <tr><td colspan="9">{{ search_result.object_list.count }} clinic eligibility records found.</td></tr>                  
      </tbody>
      </table>
      </div>
